body{
    background-color: #818ca0;
    background-image: url('../../images/brick.jpg');
    background-position: center;
    background-size:contain
}
ul.ulnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #f1f1f1;
    border: 3px solid black;
    float: right;
    box-shadow: 7px 7px;
}
li.linav a{
    display: block;
    background-color: #dddddd;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    font-family: Atkinson Hyperlegible;
}
li.linav{
    display: block;
    background-color: #dddddd;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    font-family: Atkinson Hyperlegible;
    font-size: 20px;
}
li.linav a.active{
    display: block;
    background-color: rgb(32, 184, 146);
    color: blue;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    box-shadow: 4px 4px;
}
li.linav a:hover{
    background-color: rgba(32, 184, 146, 0.63);
    color: rgb(00, 0, 255);
    box-shadow: 3px 3px;
}
li.linav a.active:hover{
    background-color: rgba(32, 184, 146, 0.63);
    color: rgb(00, 0, 255);
    box-shadow: 4px 4px;
}
h1{
    text-align: center;
    font-family:OCR A;
    font-size: 70pt;
}
p.stuff{
    font-size: 15pt;
    font-family: Atkinson Hyperlegible;
    color: #555;
    background-color: #eeeeee;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}
a{
    color: black;
}
fieldset.fldst{
    font-family: Atkinson Hyperlegible;
    font-size: 30px;
    background-color: rgba(170, 170, 33, 0.39);
}
#page_wrapper{
    border-radius: 5px;
    border: 2px solid #696969;
    padding: 10px;
    height: auto;
    background: rgba(160, 160, 160, 0.514);
    position: absolute top 50%, bottom 50%, left 50%, right 50%;
}
span.font1{
    font-size: 20pt;
    font-family: Atkinson Hyperlegible;
    color: #696969;
    font-weight: bolder;
}
@keyframes Test {
    0%  {background-color: blue; color: white;}
    10% {background-color: red;}
    30% {background-color: green; color: black;}
    50% {background-color: indigo;}
    70% {background-color: aqua;color: white;}
    90% {background-color: lightgreen; color: black;}
    100% {background-color: blue; color: white;}
}
img.dl{
    width:390px ;
    padding-bottom: 174px;
}
img.mo{
    width: 400px;
}
h1.cool{
    animation-name: Test;
    animation-duration: 10s;
    animation-iteration-count: infinite; 
    color: white;
}